/* Navbar-Photo-Message / Berkan */
.navbar {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 10px;
}

.logo {
  margin: 14px;
}

.navbar a {
  color: #333333;
  text-decoration: none;
  padding: 14px 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #dbf7df;
}
.photoandmessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2f997;
  padding: 20px;
  height: 300px;
}

.photoandmessage .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoandmessage .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoandmessage .left input {
  font-size: 16px;
  padding: 10px;
  width: 70%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.photoandmessage .right img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

#whatsinthebox {
  background-color: white;
  padding: 40px 20px;
  display: flex;
  justify-content: space-evenly;
}

#whatsinthebox .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#whatsinthebox .image img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  max-width: 550px;
}

#whatsinthebox .content {
  flex: 1;
  padding: 20px;
}

#whatsinthebox .content h2 {
  font-size: 28px;
  padding: 40px;
  margin-top: 0px;
}

#whatsinthebox .content ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
  
}

#whatsinthebox .content ul li {
  font-size: 18px;
  margin: 15px 40px;

  
  
}

#innovative-text {
color: #056b2f;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Why WBSFresh Section / Erika */

.bg-lightgrey {
  background-color: #f8f8f8;
}

.bg-white {
  background-color: #ffffff;
}
.e-section {
  max-width: auto;
  margin-inline: auto;
  padding: 3rem;
}

section.e-section > h2 {
  text-align: center;
  font-size: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
}

div.icon-box > img {
  margin: 2rem 0rem;
}

.icon-box {
  justify-content: center;
  text-align: center;
}
.icon-title {
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem 0;
}
.icon-description {
  max-width: 25ch;
}

/* Cards Style / Erika */

.card-desc {
  text-align: center;
}

.card-box {
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

.card-box > img {
  height: 315px;
  width: 262px;
}
.card-title {
  font-weight: 300;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 2rem;
  margin-bottom: 10px;
}

.card-tag {
  color: #ffffff;
  border-radius: 8px;
  padding: 2px 10px;
}

.tag-color-1 {
  background-color: #476b2d;
}

.tag-color-2 {
  background-color: #37938a;
}

.tag-color-3 {
  background-color: #ffcf70;
}

.tag-color-4 {
  background-color: #ad88c6;
}
.card-bg-1 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 45%, black),
    url("img/meat-veggies.jpg");
  background-size: cover;
  height: 320px;
  width: 262px;
  display: flex;
  align-items: end;
  padding: 1rem;
}

.card-bg-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 45%, black),
    url("img/Veggie.jpg");
  background-size: cover;
  height: 320px;
  width: 262px;
  display: flex;
  align-items: end;
  padding: 1rem;
}

.card-bg-3 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 45%, black),
    url("img/family-friendly.jpg");
  background-size: cover;
  height: 320px;
  width: 262px;
  display: flex;
  align-items: end;
  padding: 1rem;
}

.card-bg-4 {
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 45%, black),
    url("img/fit-wholesome.jpg");
  background-size: cover;
  height: 320px;
  width: 262px;
  display: flex;
  align-items: end;
  padding: 1rem;
}
.bg-lightgreen {
  display: flex;
  background-color: #d2f997;
  margin: 0rem 6rem;
  justify-content: space-between;
  background-image: url(img/HFMarket_Slider.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.text-banner {
  width: 40%;
}

button {
  background-color: #067a36;
  padding: 1rem 2rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #056b2f;
}

/* FAQ Style - ktwd52 */

@media screen and (max-width: 719px) {
  body {
    font-size: clamp(10px, 3vw, 16px);
  }
}
.arrow__list {
  display: flex;
  flex-direction:row;
  list-style-type: none;
  padding-top: .5rem;
  padding-left: 2rem;
  line-height: 2rem;
  text-decoration: none;
}

.arrow__list a:hover {
  color: blue;
  text-decoration:underline;
}
.arrow__list a {
  padding-left: 1rem;
  text-align: center;
  align-items: center;
  justify-content:space-evenly;
  line-height: 1.5;
  text-decoration: none;
  color: black;

}

/* Footer Style - ktwd52 */

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  list-style: none; 
  height: 5 vh;
  padding-top: 3rem;
  
  /* @media screen  */
}
footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: blue;
  text-decoration: underline;
}
small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  font-size: 0.75rem;
}
small:hover {
  /* text-shadow:#333333 4rem; */
  visibility: hidden;
}

/* Contact formular */

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.form-container {
  padding: 3rem;
  border-radius: 5px;
  background-color: #d2f997;
  padding: 20px;
  margin: 2rem 25%;
}

section.e-section > h1 {
  font-size: 3rem;
  text-align: center;
}
